header{
    padding: 15px 0;
    background: #060722;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo{
            a {
                color: white;
                font-size: 32px;
                text-decoration: none;
                font-family: 'Courier New', Courier, monospace;
            }
        }

        nav{
            ul{
                display: flex;
                gap: 40px;

                li{
                    list-style-type: none;
                    a{
                        font-weight: 500;
                        color: #ffffff;
                        text-decoration: none;
                        font-size: 18px;
                        padding-bottom: 12px;
                        border-bottom: 2px solid rgba(255, 127, 80, 0);
                        font-family: monospace;
                        transition: all 0.3s ease;

                        &:hover{
                            color: rgb(171, 154, 148);
                            
                        }
                    }
                }
            }
        }
    }
}